<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/bootstrap.css" />
    <style type="text/css">
        body{
            font-size: 14px;
            color: #333;
        }
    </style>
    <script type="text/javascript" src="/assets/js/jquery.min.js" ></script>
</head>
<body>
	<div class="container">
		<h1><%= title %></h1>
	    <div class="row" id="routerP">
	    	
	    </div>
	</div>
	<script>
		var tabList = [{
			name: 'users',
			item: [
			{
				type: 'get',
				url: '/users/',
				title: '/users/'
			},{
				type: 'get',
				url: '/users/list/12',
				title: '/users/list/:keywords'
			},{
				type: 'post',
				url: '/users/create',
				title: '/users/create'
			},{
				type: 'post',
				url: '/users/update',
				title: '/users/update'
			},{
				type: 'get',
				url: '/users/login',
				title: '/users/login'
			},{
				type: 'post',
				url: '/users/login',
				title: '/users/login'
			}]
		},{
			name: 'upload',
			item: [{
				type: 'get',
				url: '/upload/',
				title: '/upload/'
			},{
				type: 'post',
				url: '/upload/',
				title: '/upload/'
			},{
				type: 'get',
				url: '/upload/mul',
				title: '/upload/mul'
			},{
				type: 'post',
				url: '/upload/mul',
				title: '/upload/mul'
			},{
				type: 'get',
				url: '/upload/for',
				title: '/upload/for'
			},{
				type: 'post',
				url: '/upload/for',
				title: '/upload/for'
			}]
		},{
			name: 'download',
			item: [{
				type: 'get',
				url: '/download/',
				title: 'download'
			}]
		},{
			name: 'pattern',
			item: [{
				type: 'get',
				url: '/pattern/',
				title: 'pattern'
			}]
		},{
			name: 'solution',
			item: [{
				type: 'get',
				url: '/solution/',
				title: 'solution'
			}]
		}];
		showList();
		function showList(){
			var temp = '';
			for (var key in tabList) {
				var tabListName = tabList[key].name;
				var tabListItem = tabList[key].item;
				temp += '<section><h4>'+ tabListName +'</h4>';
				
				
				temp += '<table class="table"><tr><th>tab</th><th>type</th><th>api</th></tr>';
				for (var item in tabListItem) {
					console.log(tabListItem[item].url);
					temp += '<tr><td>'+tabListName+'</td><td>'+tabListItem[item].type+'</td>';
					if(tabListItem[item].type == 'get'){
						temp += '<td><a href="'+tabListItem[item].url+'">'+tabListItem[item].title+'</a></td>';
					}
					if(tabListItem[item].type == 'post'){
						temp += '<td><span>'+tabListItem[item].title+'</span></td>';
					}
					
				}
				
				temp += '</tr></table></section>';
			}
			
			$("#routerP").html(temp);
		}
	</script>
</body>
</html>