<!--css assets-->
<!--<link rel="stylesheet" href="/assets/css/reset.css" />-->
<!--<link rel="stylesheet" href="/assets/css/main.css" />-->
<link rel="stylesheet" href="/stylesheets/bootstrap.css" />

<!--script assets-->
<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/js/mx.js"></script>
<script src="/assets/js/lib/util.lib.js"></script>
<script>
	var localUrl = "http://127.0.0.1:3322";
</script>

<div><a href="/airTab">back</a></div>