<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>index</title>
    <style type="text/css">
        body{
            font-size: 14px;
            color: #333;
        }
    </style>
</head>
<body>
	<%- include layout %>
    <h1><%= title %></h1>
    <p>hello, <%= title %></p>
</body>
</html>