<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <style type="text/css">
        body{
            font-size: 14px;
            color: #333;
        }
    </style>
    <%- include basicInit %>
</head>
<body>
    <h1><%= title %></h1>
    <p>hello, <%= title %></p>
    <div>
    	<button id="createBtn" onclick="createPanel()">创建</button>
    	<div id="createP">
    		<button onclick="createPanel()">关闭</button>
    		<p>创建信息</p>
    		<hr>
    		<form>
    			<table>
    				<tr><th>标题</th><td><input name="title" type="text" /></td></tr>
    				<tr><th>描述</th><td><textarea name="description"></textarea></td></tr>
    				<tr><th>基础图片</th><td><button type="button" onclick="upImgPanel()">添加</button><img /></td></tr>
    			</table>
    			<select name="pattern">
    				<option value="cal">cal</option>
    				<option value="cal">csal</option>
    				<option value="cal">cdaal</option>
    			</select>
    		</form>
    	</div>
    	<form enctype="multipart/form-data" id="imgP">
	        <input type="file" name="inputFile">
	        <input type="text" name="username"/>
	        <button type="button" onclick="uploadImg()">上传</button>
	    </form>
    </div>
    <table>
    	<tr>
    		<th>id</th>
    		<th>name</th>
    	</tr>
    	<tr>
    		<td>1</td>
    		<td>235</td>
    	</tr>
    </table>
    <script>
    	$(function(){
    		$.ajax({
    			type:"get",
    			url:localUrl + "/product/add",
    			async:true,
    			success: function(data){
    				console.log(data);
    			},
    			error: function(err){
    				console.log(err);
    			}
    		});
    		$.ajax({
    			type:"post",
    			url:localUrl + "/product/add",
    			data: {
    				name: 'product',
    				info: 'hello'
    			},
    			async:true,
    			success: function(data){
    				console.log(data);
    			},
    			error: function(err){
    				console.log(err);
    			}
    		});
    		
    	});
    	
    	var createStatus = false;
    	createPanel();
    	function createPanel(){
    		createStatus = createStatus ? false: true;
    		if(createStatus){
    			$("#createBtn").show();
    			$("#createP").hide();
    		}else{
    			$("#createBtn").hide();
    			$("#createP").show();
    		}
    	}  
    	var imgPStatus = true;
    	$("#imgP").hide();
    	function upImgPanel(){
    		imgPStatus = imgPStatus ? false: true;
    		if(imgPStatus){
    			$("#imgP").hide();
    		}else{
    			$("#imgP").show();
    		}
    	}
    	function uploadImg(){

            var form = new FormData(document.getElementById("imgP"));
//             var req = new XMLHttpRequest();
//             req.open("post", "${pageContext.request.contextPath}/public/testupload", false);
//             req.send(form);
            $.ajax({
                url:"/product/upload",
                type:"post",
                data:form,
                processData:false,
                contentType:false,
                success:function(data){
//                  window.clearInterval(timer);
                    console.log("over.."+JSON.stringify(data));
                },
                error:function(e){
                    alert("错误！！");
//                  window.clearInterval(timer);
                }
            });        
        
    	}
    </script>
</body>
</html>