<!DOCTYPE HTML>
<html>
	<head>
		<title>MX - Manage</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<%- include basicInit %>
	</head>
	<body class="is-preload">

		<section>
			<h4>Setup one / about menu</h4>
			<div>
				<div><strong>系统设置/基础设置</strong></div>
				<div>
					<span>网站配置</span>
					<div>基本配置</div>
					<table>
						<tr><th>网站标题</th><td></td></tr>
						<tr><th>关键词</th><td></td></tr>
					</table>
				</div>
				<div>
					<span>创建菜单</span>
					<table>
						<tr><td>产品/解决方案/供应商/线下供应点/楼盘</td></tr>
					</table>
				</div>
				<p>创建模型</p>
			</div>
		</section>
	</body>
</html>